Repository romesco/quadsim: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, flake8

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true

update gitignore for hydra
  .gitignore
Due: none

gitignore
  .gitignore
Due: none

decouple configs from class signatures, move examples out of package
  examples/__init__.py
  examples/a1_robot_exercise.py
  examples/create_motor_group.py
  quadsim/robots/motors.py
Due: flake8

migrate non-robot sim related to simulator.py
  examples/a1_robot_exercise.py
  quadsim/robots/motors.py
  quadsim/robots/robot.py
  quadsim/simulator.py
Due: flake8

switch Simulator to dataclass
  examples/create_motor_group.py
  quadsim/robots/motors.py
  quadsim/robots/robot.py
  quadsim/simulator.py
Due: flake8

fix create motor group example
  examples/create_motor_group.py
Due: flake8

testing manual robot instantiation
  examples/create_robot.py
Due: flake8

example of manually instantiating robot class
  examples/create_robot.py
  quadsim/robots/motors.py
  quadsim/robots/robot.py
  quadsim/simulator.py
Due: flake8

create simple robot config with hydra
  configen/conf/quadsim.yaml
  examples/create_robot_with_hydra.py
  hydra_configs/quadsim/robots/motors.py
  hydra_configs/quadsim/robots/robot.py
  quadsim/robots/robot.py
Due: check-yaml, flake8

example for manually creating an A1
  .flake8
  examples/a1_robot_exercise.py
  examples/create_a1_from_robot_class.py
  quadsim/robots/motors.py
  quadsim/simulator.py
Due: flake8

updates to pre-commit
  .pre-commit-config.yaml
Due: check-yaml

update setup.py
  setup.py
Due: flake8

updates to robot and a1 classes, includes examples
  examples/create_a1_from_a1_class.py
  examples/create_a1_from_robot_class.py
  quadsim/robots/a1.py
  quadsim/robots/robot.py
Due: flake8

a1_robot_exercise working
  examples/a1_robot_exercise.py
  quadsim/simulator.py
Due: flake8

tests passing, but not complete
  .flake8
  quadsim/configs/robots/config_a1.py
  quadsim/robots/motors.py
  quadsim/robots/robot.py
  quadsim/simulator.py
  tests/quadsim/robots/motor_group_test.py
  tests/quadsim/robots/robot_test.py
  tests/quadsim/robots/test_motors.py
  tests/quadsim/robots/test_robots.py
Due: flake8

updates to nox, exclude data dir from precommit
  .pre-commit-config.yaml
  noxfile.py
Due: check-yaml, flake8

apply precommit retroactively
  examples/create_motor_group.py
  examples/create_robot.py
Due: flake8

temporarily add fixed req constraints
  requirements/dev.txt
  requirements/requirements.txt
Due: none

update noxfile to use dev constraints
  noxfile.py
Due: flake8

simplify precommit linting workflow to be managed by .pre-commit-config.yaml rather than pyproject.toml
  .pre-commit-config.yaml
  noxfile.py
Due: check-yaml, flake8

remove extra simulator class
  examples/a1_robot_exercise.py
  examples/create_a1_from_a1_class.py
  examples/create_motor_group.py
  examples/create_robot.py
  quadsim/simulator.py
  tests/quadsim/robots/test_motors.py
Due: flake8

remove extra simulator class
  quadsim/simulator.py
Due: flake8

.pre-commit-config.yaml
  .pre-commit-config.yaml
Due: check-yaml

.precommit and nox
  noxfile.py
Due: flake8

retroactively apply precommit
  examples/a1_robot_exercise.py
  examples/create_a1_from_a1_class.py
  examples/create_a1_from_robot_class.py
  examples/create_motor_group.py
  examples/create_robot.py
  quadsim/robots/robot.py
  quadsim/simulator.py
  tests/quadsim/robots/test_motors.py
  tests/quadsim/robots/test_robots.py
Due: flake8

todo for robot class
  examples/create_robot.py
Due: flake8

todo for motorgroup class
  examples/create_motor_group.py
Due: flake8

skip incomplete test
  tests/quadsim/robots/test_robots.py
Due: flake8

testing todos
  .github/workflows/todo_to_issue.yml
  tests/quadsim/robots/test_motors.py
Due: check-yaml, flake8

test identifier
  tests/quadsim/robots/test_motors.py
Due: flake8

test removal
  tests/quadsim/robots/test_motors.py
Due: flake8

test add back
  tests/quadsim/robots/test_motors.py
Due: flake8

simulator todos
  quadsim/simulator.py
Due: flake8

sim
  quadsim/simulator.py
Due: flake8

todo in motos
  quadsim/robots/motors.py
Due: flake8

update todo workflow
  .github/workflows/todo_to_issue.yml
Due: check-yaml

motor todos
  quadsim/robots/motors.py
Due: flake8
